{% extends "layout.html" %}
{% block body %}

<div id="frontpage_right">
</div>

<div id="frontpage_left">
<div id="login_register_forms_introbox">
<p>&nbsp;</p>
<p>This tool has been decommissioned.</p>
<a href="{{url_for('docs', docname='user_guide.html')}}">User Guide</a>
</div>

<div id="login_register_forms_container">
<fieldset name="login">
<legend>Login</legend>
<p><span style="color:red"><strong>PLEASE NOTE:</strong> CSV2IATI has been decommissioned.</span></p>
<form method="post" action="{{url_for('login')}}">
<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}" />
<dl>
<dt><label for="login[username]">Username</label></dt>
<dd><input type="text" name="username" id="login[username]" /></dd>
<dt><label for="login[password]">Password</label></dt>
<dd><input type="password" name="password" id="login[password]" /></dd>
<dt> </dt>
<dd><input type="submit" value="Login" /></dd>
</dl>
</form>
</fieldset>
</div>
</div>

<div id="clearer">&nbsp;</div>
</div>

<div id="credits">Version {{version}}. <a href="https://github.com/IATI/CSV2IATI">Source code on GitHub</a>. MIT Licensed. <a href="https://www.aidtransparency.net/privacy-policy">Privacy and Cookie Policy</a></div>
{% endblock %}
