{% extends "layout.html" %}
{% block body %}

<div id="frontpage_right">
<div class="box_white">
	<div class="frontpage_icon">
		<span class="frontpage_icon_img"><img src="{{ url_for('static', filename='images/doc_csv.png') }}"></span><span class="frontpage_icon_text">Take your CSV file.</span>
	</div>
<!--
	<div class="frontpage_icon">
		<span class="frontpage_icon_img"><img src="{{ url_for('static', filename='images/upload.png') }}"></span><span class="frontpage_icon_text">Upload it</span>
	</div>
-->
	<div class="frontpage_icon">
		<span class="frontpage_icon_img"><img src="{{ url_for('static', filename='images/convert.png') }}"></span><span class="frontpage_icon_text">Convert it.</span>
	</div>

	<div class="frontpage_icon">
		<span class="frontpage_icon_img"><img src="{{ url_for('static', filename='images/doc_iati.png') }}"></span><span class="frontpage_icon_text">Get <a href="http://iatistandard.org">IATI XML</a> data.</span>
	</div>
</div>
</div>

<div id="frontpage_left">
<div id="login_register_forms_introbox">
<p>&nbsp;</p>
<p>To get started, login or register below. This tool is scheduled for decommissioning - follow the link above for more information.</p>
<p>For guidance, see the <a href="{{url_for('docs', docname='user_guide.html')}}">User Guide</a></p>
</div>

<div id="login_register_forms_container">
<fieldset name="login">
<legend>Login</legend>
<p><span style="color:red">PLEASE NOTE: the CSV2IATI tool is scheduled to be decommissioned.</span> The tool will <strong>not</strong> be switched off until <strong>every</strong> user has migrated to another tool. Please see <a href"http://www.aidtransparency.net/news/iati-publishing-tool-csv2iati-to-be-decommissioned">here</a> for more information, and contact <a href="mailto:support@iatistandard.org">support@iatistandard.org</a> if you have any questions, or need support with migrating.</p>
<form method="post" action="{{url_for('login')}}">
<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}" />
<dl>
<dt><label for="login[username]">Username</label></dt>
<dd><input type="text" name="username" id="login[username]" /></dd>
<dt><label for="login[password]">Password</label></dt>
<dd><input type="password" name="password" id="login[password]" /></dd>
<dt> </dt>
<dd><input type="submit" value="Login" /></dd>
</dl>
</form>
</fieldset>
<fieldset name="register">
<legend>Register</legend>
<form method="post" action="{{url_for('register')}}">
<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}" />
<dl>
<dt><label for="username">Username</label></dt>
<dd><input type="text" name="username" id="username"/></dd>
<dt><label for="password">Password</label></dt>
<dd><input type="password" name="password" id="password" /></dd>
<dt><label for="user_name">Your name</label></dt>
<dd><input type="text" name="user_name" id="user_name" /></dd>
<dt><label for="email">Your email address</label></dt>
<dd><input type="text" name="email" id="email" /></dd>
<dt> </dt>
<dd><input type="submit" value="Register" /></dd>

<!-- New 'Register' form - disabled for decommission
<legend>Register</legend>
<p><span style="color:red">Due to the scheduled decommissioning of CSV2IATI, new users are no longer accepted.</span> Please contact <a href="mailto:support@iatistandard.org">support@iatistandard.org</a> if you have any questions, or need support with migrating data from an existing account.</p>
<form method="post" action="{{url_for('register')}}">
<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}" />
<dl>
<dt><label for="username">Username</label></dt>
<dd><input disabled="true" type="text" name="username" id="username"/></dd>
<dt><label for="password">Password</label></dt>
<dd><input disabled="true" type="password" name="password" id="password" /></dd>
<dt><label for="user_name">Your name</label></dt>
<dd><input disabled="true" type="text" name="user_name" id="user_name" /></dd>
<dt><label for="email">Your email address</label></dt>
<dd><input disabled="true" type="text" name="email" id="email" /></dd>
<dt> </dt>
<dd><input type="submit" value="Register" /></dd>
-->
</dl>
</form>
</fieldset>
</div>
</div>

<div id="clearer">&nbsp;</div>
</div>

<div id="credits">Version {{version}}. <a href="https://github.com/IATI/CSV2IATI">Source code on GitHub</a>. MIT Licensed.</div>
{% endblock %}
